// Imports -------------------------------------------------------------------

@import base
@import "compass"
@import "compass/reset"
@import "compass/utilities"

/* Layout ------------------------------------------------------------------


// General
.page
  +container($total-columns)
  +establish-baseline

  width: 100%
  // +susy-grid-background
  font-family: $sans-serif
  font-style: normal
  font-weight: 300
  text-align: justify
  +accentize($red)
  h1, h2, h3, h4, h5, h6
    text-align: left
    font-family: $slab-serif

// Header

#page_header
  margin: 0 0 - $grid-padding

  // Navigation 
  #main_nav
    background-color: $base01
    +padding-trailer
    +adjust-font-size-to(12px)
    +adjust-leading-to(2)
    +border-radius(0 0 0 0.5em)
    font-weight: 700
    ul
      li
        text-align: left
        &:nth-child(2n)
          background-color: $base1
        a
          padding: 0 $grid-padding
          +unstyled-link
          color: $base03
        &:hover
          background-color: $base3
          a 
            color: $red

  // Logo
  #logo
    +leader(0)
    float: right
    +span-columns(2 omega)
    padding: 0.25em 0em 0.25em 0em
    +border-radius(0 0 0.5em 0.5em)
    // +single-box-shadow(inset, black, 0em, -0.1em, 0.2em)
    background-color: $base01
    font-family: $slab-serif
    +adjust-font-size-to(16px)
    letter-spacing: -0.05em
    font-weight: 500
    +trailer(0.5)
    text-align: center
    a      
      +unstyled-link
      span#medial
        color: $base3
        vertical-align: 30%
      span#slash
        color: $red
        +adjust-font-size-to(22px)
        margin: 0 -0.3em 0 -0.2em
      span#operations
        color: $base3
        vertical-align: -5%
    &:hover
      span#medial
        color: $red
      span#slash
        color: $base3
      span#operations
        color: $red

// Content

.content
  clear: both

  p
    +adjust-font-size-to(14px)
    +hyphenation

  sup
    +adjust-font-size-to(12px)
    vertical-align: baseline
    position: relative
    top: -0.5em
    padding-left: 0.1em
    padding-right: 0.1em
    a, a:active, a:visited, code.url
      +unstyled-link
      color: $red
    &:hover
      background-color: $red
      a
        color: $base1
  
  ol
    +margin-leader(0.5)
    +padding-leader(0.5)
    +adjust-font-size-to(12px)
    list-style-type: decimal
    border-top: 0.1em solid $base02
    margin-right: 0 - $grid-padding
    margin-left: 0 - $grid-padding
    padding-right: $grid-padding
    padding-left: 2 * $grid-padding

  em
    font-style: italic
  // +baseline-grid-background($base-line-height, $base01)

  h1
    // font-family: $sans-serif
    letter-spacing: -0.05em
    font-weight: 700
    +adjust-font-size-to(16px)
    color: $yellow
    +padding-leader(1)
    a, a:active, a:visited, code.url
      +unstyled-link
      color: $yellow
    +trailer(0.5)
  h1 + p
    em
      font-family: $slab-serif
      font-style: normal
      color: $red

  h1 + ul.info
    +leader(-0.5)
    li
      +adjust-font-size-to(12px)
      color: $base2
      &:first-child
        +padding-leader(0.5)
        +margin-leader(0.5)
        border-top: 0.1em solid $base02
      &:last-child
        +padding-trailer(0.5)
        +margin-trailer(0.5)
        border-bottom: 0.1em solid $base02


  h2
    +adjust-font-size-to(16px)
    +leader(1.5)
    +trailer(0.5)
    &:first-child
      +leader(-1)

  blockquote
    +margin-leader(0.5)
    +padding-leader(0.5)
    +padding-trailer(0.5)
    +margin-trailer(0.5)
    border-top: 0.1em solid $base02 
    border-bottom: 0.1em solid $base02
    margin-right: 0 - $grid-padding
    margin-left: 0 - $grid-padding
    font-family: $slab-serif
    padding-right: $grid-padding
    padding-left: $grid-padding

    blockquote
      +margin-leader(0)
      +padding-leader(0)
      +padding-trailer(0)
      +margin-trailer(0)
      border: none
      text-align: right
    p 
      +adjust-font-size-to(11px)
      color: $base2

  section.sections
    h1
      // text-align: center
      +adjust-font-size-to(14px)
      // background-color: $red
      font-weight: 500
      a
        color: $red
        &:hover
          color: $red 
          border-bottom: 1px solid $red
      p
        color: $base2
    a
      +unstyled-link
      color: $base03
      &:hover
        color: $base02

  section.sessions
    h1
      color: $yellow
      border-bottom: 0.1em solid $yellow
      border-top: 0.1em solid $yellow
      +margin-leader(1.3)
      +margin-trailer(0.8)
      +padding-leader(0.2)
      +padding-trailer(0.2)
      text-align: center
      +adjust-font-size-to(12px)
      font-weight: 700
      a, a:active, a:visited, code.url
        +unstyled-link
        color: $yellow
      &:hover
        background-color: $yellow
        a
          color: $base03
          border: none
    

    h1 + ul.info
      +leader(-0.5)
      li
        border-top: none
        +adjust-font-size-to(10px)
        color: $base2
        width: 100%
        text-align: left
        font-weight: 500          
        span
          color: $base01
          float: left
          &:last-child
            float: right
            text-align: right
        &:last-child
          +padding-trailer(0.5)
          +margin-trailer(0.5)
          border-bottom: 0.1em solid $base02
        
  section.bibliography
    border-top: 0.1em solid $base02
    border-bottom: none

    h1
      +adjust-font-size-to(10px)
      text-align: left
      border: none
      font-weight: 700
      color: $base01
      +margin-leader(0)
      +padding-leader(0.5)
      +margin-trailer(0)
      +padding-trailer(0)
    ul
      li
        p
          +adjust-font-size-to(10px)
          color: $base01
        em
          color: $base01
          font-style: italic
        &:last-child
          border: none
// Footer

#page_footer
  +leader(2)
  font-weight: 500
  border-top: 0.1em solid $base01
  +adjust-font-size-to(12px)
  
  ul
    +horizontal-list
    float: left
    margin-left: $grid-padding
    li
      margin-right: 1em
      a 
        +unstyled-link
        color: $base3
        &:hover
          color: $red
  p
    float: right
    text-align: right
    margin-right: $grid-padding